@page
@model SeniorTrackerv3_Accounts.Pages.Teachers.IndexModel

@{
    ViewData["Title"] = "Teachers";
}

<h1>Teachers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].AdvCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].Advisees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].BoardCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].BoardStudents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teachers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <p class="ralign"> @Html.DisplayFor(modelItem => item.AdvCount) </p>
            </td>
            <td>
                <table>
                    @foreach (var adv in item.Advisees) 
                    {
                        int id = 0;
                        <tr>
                            <td>
                                <div class="ralign">
                                    @foreach (var student in Model.Students)
                                        {
                                            if (student.Name == adv)
                                            {
                                                id = student.ID;
                                            }
                                        }
                                    <a
                                        asp-page ="../Students/Details"
                                        asp-route-id ="@id">
                                        @adv
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                <p class="ralign"> @Html.DisplayFor(modelItem => item.BoardCount)</p>
            </td>
            <td>
                <table>
                    @foreach (var bs in item.BoardStudents)
                    {
                            int id = 0;    
                            <tr>
                                <td>
                                    <div class="ralign">
                                        @foreach (var student in Model.Students)
                                        {
                                            if (student.Name == bs)
                                            {
                                                id = student.ID;
                                            }
                                        }
                                        <a
                                            asp-page="../Students/Details"
                                            asp-route-id="@id">
                                            @bs
                                            </a>
                                    </div>
                                </td>
                            </tr>
                    }
                </table>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
