@page
@model SeniorTrackerv3_Accounts.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GAdvisor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GAdvisor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Credit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Credit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Advisor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Advisor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Board1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Board1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Board2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Board2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Board3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Board3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CoverLetter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CoverLetter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Honors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Honors)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
